<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Error page
            <small>Opss...</small>
        </h1>
    </section>
</div>
<!-- /.content-wrapper -->

