<?
$this->setVar('breadcrumbs', 'Início>Clientes>Consultar');
$this->Show('Area/Header');
?>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Filtros</h3>

            <div class="box-tools pull-right">

                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Minimizar">
                    <i class="fa fa-minus"></i></button>

                <button type="button" class="btn btn-box-tool" data-widget="eraser" data-toggle="tooltip"
                        title="Apagar">
                    <i class="fa fa-eraser"></i></button>

            </div>
        </div>

        <div class="box-body">

            <div class="box-group">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            Informações do Cliente
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>CNPJ: </b></span>
                                    <input type="text" class="form-control" id="cnpj" placeholder="CNPJ">
                                </div>
                            </div>
                            <!-- /.col -->

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Razão Social: </b></span>
                                    <input type="text" class="form-control" id="razao_social" placeholder="Razão Social">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>CDC: </b></span>
                                    <input type="text" class="form-control" id="cdc" placeholder="CDC">
                                </div>
                            </div>

                        </div>

                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Conglomerado: </b></span>
                                    <input type="text" class="form-control" id="conglomerado" placeholder="Conglomerado">
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Tipo de Atendimento: </b></span>
                                    <select class="form-control select2 select2-hidden-accessible" multiple="" id="tipo_atendimento" data-placeholder="Tipo de Atendimento" >
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Atendimento: </b></span>
                                    <select class="form-control select2 select2-hidden-accessible" multiple="" id="atendimento"  data-placeholder="Atendimento">
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->

                    </div>
                </div>
                <div class="panel box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                           Time de Contas
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Executivo de Negócios: </b></span>
                                    <input type="text" class="form-control" id="executivo_negocios" placeholder="Executivo de Negócios">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Executivo Especialista 1: </b></span>
                                    <input type="text" class="form-control" id="executivo_especialista_1"  placeholder="Executivo Especialista 1">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Executivo Especialista 2: </b></span>
                                    <input type="text" class="form-control" id="executivo_especialista_2" placeholder="Executivo Especialista 2">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Gerente de Vendas: </b></span>
                                    <input type="text" class="form-control" id="gerente_vendas"  placeholder="Gerente de Vendas">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Diretor de Vendas: </b></span>
                                    <input type="text" class="form-control" id="diretor_vendas"  placeholder="Diretor de Vendas">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Regional: </b></span>
                                    <input type="text" class="form-control" id="regional"  placeholder="Regional">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Pós Vendas: </b></span>
                                    <input type="text" class="form-control" id="pos_vendas"  placeholder="Pós Vendas">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Pré Vendas: </b></span>
                                    <input type="text" class="form-control" id="pre_vendas"  placeholder="Pré Vendas">
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><b>Outros: </b></span>
                                    <input type="text" class="form-control" id="outros"  placeholder="Outros">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>





        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-block btn-success" id="consultar_cliente"><span class="fa fa-search"></span>&nbsp;&nbsp;Pesquisar</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->


    <!-- Default box -->
    <div class="box box-primary hidden" id="resultado_consulta_cliente">
        <div class="box-header with-border">
            <h3 class="box-title">Resultado</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Minimizar">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                        title="Fechar">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <table id="consultar_cliente_resultado" class="table table-bordered table-striped dataTable nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th colspan="4">Cliente</th>
                        <th colspan="2">Atendimento</th>
                        <th colspan="8">Time de Contas</th>
                    </tr>
                    <tr role="row">

                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>CDC</th>
                        <th>Conglomerado</th>

                        <th>Tipo</th>
                        <th>Classificação</th>

                        <th class="no-sort">Diretor de Vendas</th>
                        <th class="no-sort">Gerente de Vendas</th>
                        <th class="no-sort">Regional</th>
                        <th class="no-sort">Executivo de Negócios</th>
                        <th class="no-sort">Especialista 1</th>
                        <th class="no-sort">Especialista 2</th>
                        <th class="no-sort">Pré Vendas</th>
                        <th class="no-sort">Pós Vendas</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


</section>
<!-- /.content -->
