<?
$breadcrumbs = $this->getVar('breadcrumbs');
$breadcrumbs = explode('>', $breadcrumbs);
?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <? if(isset($breadcrumbs[0]) && !isset($breadcrumbs[1])):?>
            <?=$breadcrumbs[0]?>
        <? else: ?>
            <?=$breadcrumbs[1]?>
        <? endif; ?>

        <? if(isset($breadcrumbs[2])):?>
            <small><?=$breadcrumbs[2]?></small>
        <? endif; ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> <?=$breadcrumbs[0]?></a></li>

        <? if(isset($breadcrumbs[1])):?>
            <li><a href="#"><?=$breadcrumbs[1]?></a></li>
        <? endif; ?>

        <? if(isset($breadcrumbs[2])):?>
            <li class="active"><?=$breadcrumbs[2]?></li>
        <? endif; ?>
    </ol>
</section>