<? foreach($this->Menu as $Menu): ?>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-<?=$Menu->Icone?>"></i> <span><?=$Menu->Nome?></span> <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            <? foreach($Menu->Area as $Area): ?>
                <li><a href="<?=$Area->Url?>"><i class="fa fa-<?=$Area->Icone?>"></i> <?=$Area->Nome?></a></li>
            <? endforeach; ?>
        </ul>
    </li>
<? endforeach; ?>