<?
$this->setVar('breadcrumbs', 'Início');
$this->Show('Area/Header');
?>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Notícias</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Nova marca Oi!
                                    <span class="label label-warning pull-right">Lida</span>
                                </a>
                                        <span class="product-description">
                                            <p>A nova identidade foi desenvolvida pensando em associar a Empresa a
                                                solução e não somente a produtos. A mudança está alinhada com os novos
                                                hábitos e comportamentos dos consumidores, sendo mais interativa,
                                                digital e dinâmica.</p>
                                            <p>Fizemos o lançamento oficial dia 28/03 e já repercutiu em vários canais
                                                de comunicação, confira uma das matérias divulgada na revista Exame
                                                clicando aqui.</p>
                                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Nova marca Oi!
                                    <span class="label label-warning pull-right">Lida</span>
                                </a>
                                        <span class="product-description">
                                            <p>A nova identidade foi desenvolvida pensando em associar a Empresa a
                                                solução e não somente a produtos. A mudança está alinhada com os novos
                                                hábitos e comportamentos dos consumidores, sendo mais interativa,
                                                digital e dinâmica.</p>
                                            <p>Fizemos o lançamento oficial dia 28/03 e já repercutiu em vários canais
                                                de comunicação, confira uma das matérias divulgada na revista Exame
                                                clicando aqui.</p>
                                        </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">Ver todas as notícias</a>
                </div>
                <!-- /.box-footer -->
            </div>

        </div>
        <!-- /.col -->
    </div>


    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable ui-sortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom" style="cursor: move;">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                    <li class=""><a href="#revenue-chart" data-toggle="tab" aria-expanded="false">Area</a></li>
                    <li class="active"><a href="#sales-chart" data-toggle="tab" aria-expanded="true">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane" id="revenue-chart"
                         style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <svg height="300" version="1.1" width="623" xmlns="http://www.w3.org/2000/svg"
                             style="overflow: hidden; position: relative;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <text x="50.5" y="261" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,261H598" stroke-width="0.5"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="50.5" y="202" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,202H598" stroke-width="0.5"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="50.5" y="143" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,143H598" stroke-width="0.5"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="50.5" y="84.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                    22,500
                                </tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,84.00000000000003H598" stroke-width="0.5"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="50.5" y="25.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                    30,000
                                </tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,25.00000000000003H598" stroke-width="0.5"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="499.81374038072096" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal"
                                  transform="matrix(1,0,0,1,0,7)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                            </text>
                            <text x="261.8915046577562" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#888888"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                                  font-size="12px" font-family="sans-serif" font-weight="normal"
                                  transform="matrix(1,0,0,1,0,7)">
                                <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text>
                            <path fill="#74a5c1" stroke="none"
                                  d="M63,219.05493333333334C77.95139732685297,219.56626666666668,107.85419198055894,222.62345,122.8055893074119,221.10026666666667C137.75698663426488,219.57708333333335,167.65978128797084,209.13609859561225,182.6111786148238,206.86946666666668C197.3932892871608,204.62849859561226,226.95751063183474,204.88132019993895,241.73962130417172,203.06986666666666C256.53527490886995,201.25675353327227,286.12658211826647,194.9135027923211,300.92223572296473,192.3712C315.8736330498177,189.80213612565444,345.77642770352367,182.51721666666668,360.72782503037666,182.6244C375.67922235722966,182.73158333333333,405.5820170109356,204.18306539133076,420.5334143377886,193.22866666666667C435.31552501012555,182.3982987246641,464.8797463547995,101.94099634745244,479.6618570271365,95.48533333333336C494.2949954434994,89.09472968078578,523.5612722762252,135.13645416189823,538.1944106925881,141.8436C553.1458080194411,148.6966208285649,583.048602673147,147.7554,598,149.726L598,261L63,261Z"
                                  fill-opacity="1"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                            <path fill="none" stroke="#3c8dbc"
                                  d="M63,219.05493333333334C77.95139732685297,219.56626666666668,107.85419198055894,222.62345,122.8055893074119,221.10026666666667C137.75698663426488,219.57708333333335,167.65978128797084,209.13609859561225,182.6111786148238,206.86946666666668C197.3932892871608,204.62849859561226,226.95751063183474,204.88132019993895,241.73962130417172,203.06986666666666C256.53527490886995,201.25675353327227,286.12658211826647,194.9135027923211,300.92223572296473,192.3712C315.8736330498177,189.80213612565444,345.77642770352367,182.51721666666668,360.72782503037666,182.6244C375.67922235722966,182.73158333333333,405.5820170109356,204.18306539133076,420.5334143377886,193.22866666666667C435.31552501012555,182.3982987246641,464.8797463547995,101.94099634745244,479.6618570271365,95.48533333333336C494.2949954434994,89.09472968078578,523.5612722762252,135.13645416189823,538.1944106925881,141.8436C553.1458080194411,148.6966208285649,583.048602673147,147.7554,598,149.726"
                                  stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="63" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="122.8055893074119" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="182.6111786148238" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="241.73962130417172" cy="203.06986666666666" r="4" fill="#3c8dbc"
                                    stroke="#ffffff" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="300.92223572296473" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="360.72782503037666" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="420.5334143377886" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="479.6618570271365" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.1944106925881" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="598" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <path fill="#eaf2f5" stroke="none"
                                  d="M63,240.02746666666667C77.95139732685297,239.8072,107.85419198055894,241.35496666666666,122.8055893074119,239.1464C137.75698663426488,236.93783333333334,167.65978128797084,223.33698698853718,182.6111786148238,222.35893333333334C197.3932892871608,221.39195365520382,226.95751063183474,233.23177876984127,241.73962130417172,231.36626666666666C256.53527490886995,229.49904543650794,286.12658211826647,209.28948603839441,300.92223572296473,207.428C315.8736330498177,205.54691937172774,345.77642770352367,214.4391666666667,360.72782503037666,216.39600000000002C375.67922235722966,218.35283333333334,405.5820170109356,232.38159338039932,420.5334143377886,223.08266666666668C435.31552501012555,213.88902671373265,464.8797463547995,148.2241679481277,479.6618570271365,142.42573333333334C494.2949954434994,136.68573461479437,523.5612722762252,170.46886726939806,538.1944106925881,176.92893333333336C553.1458080194411,183.5295006027314,583.048602673147,190.23343333333335,598,194.66826666666668L598,261L63,261Z"
                                  fill-opacity="1"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                            <path fill="none" stroke="#a0d0e0"
                                  d="M63,240.02746666666667C77.95139732685297,239.8072,107.85419198055894,241.35496666666666,122.8055893074119,239.1464C137.75698663426488,236.93783333333334,167.65978128797084,223.33698698853718,182.6111786148238,222.35893333333334C197.3932892871608,221.39195365520382,226.95751063183474,233.23177876984127,241.73962130417172,231.36626666666666C256.53527490886995,229.49904543650794,286.12658211826647,209.28948603839441,300.92223572296473,207.428C315.8736330498177,205.54691937172774,345.77642770352367,214.4391666666667,360.72782503037666,216.39600000000002C375.67922235722966,218.35283333333334,405.5820170109356,232.38159338039932,420.5334143377886,223.08266666666668C435.31552501012555,213.88902671373265,464.8797463547995,148.2241679481277,479.6618570271365,142.42573333333334C494.2949954434994,136.68573461479437,523.5612722762252,170.46886726939806,538.1944106925881,176.92893333333336C553.1458080194411,183.5295006027314,583.048602673147,190.23343333333335,598,194.66826666666668"
                                  stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="63" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="122.8055893074119" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="182.6111786148238" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="241.73962130417172" cy="231.36626666666666" r="4" fill="#a0d0e0"
                                    stroke="#ffffff" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="300.92223572296473" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="360.72782503037666" cy="216.39600000000002" r="4" fill="#a0d0e0"
                                    stroke="#ffffff" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="420.5334143377886" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="479.6618570271365" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="538.1944106925881" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="598" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                        <div class="morris-hover morris-default-style"
                             style="left: 429.662px; top: 46px; display: none;">
                            <div class="morris-hover-row-label">2012 Q4</div>
                            <div class="morris-hover-point" style="color: #a0d0e0">
                                Item 1:
                                15,073
                            </div>
                            <div class="morris-hover-point" style="color: #3c8dbc">
                                Item 2:
                                5,967
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 300px;">
                        <svg height="342" version="1.1" width="512" xmlns="http://www.w3.org/2000/svg"
                             style="overflow: hidden; position: relative;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <path fill="none" stroke="#3c8dbc"
                                  d="M326.5,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,414.7277551949771,180.44625304313007"
                                  stroke-width="2" opacity="0"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#3c8dbc" stroke="#ffffff"
                                  d="M326.5,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,417.56364732624417,181.4248826052307L454.1151459070204,194.03833029452744A135,135,0,0,1,326.5,285Z"
                                  stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#f56954"
                                  d="M414.7277551949771,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,242.78484627831412,108.73398312817662"
                                  stroke-width="2" opacity="1"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                            <path fill="#f56954" stroke="#ffffff"
                                  d="M417.56364732624417,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,240.09400205154566,107.40757544301087L200.92726941747117,88.10097469226493A140,140,0,0,1,458.8416327924656,195.6693795646951Z"
                                  stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#00a65a"
                                  d="M242.78484627831412,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,326.47067846904883,243.333328727518"
                                  stroke-width="2" opacity="0"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#00a65a" stroke="#ffffff"
                                  d="M240.09400205154566,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,326.46973599126824,246.3333285794739L326.4575884998742,284.9999933380171A135,135,0,0,1,205.4120097954186,90.31165416754118Z"
                                  stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="326.5" y="140" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#000000" font-size="15px"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;"
                                  font-weight="800" transform="matrix(1.4483,0,0,1.4483,-146.3621,-67.6897)"
                                  stroke-width="0.6904761904761905">
                                <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales
                                </tspan>
                            </text>
                            <text x="326.5" y="160" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#000000" font-size="14px"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;"
                                  transform="matrix(1.9444,0,0,1.9444,-308.3611,-143.5556)"
                                  stroke-width="0.5142857142857143">
                                <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                            </text>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->

            <!-- Calendar -->
            <div class="box box-solid bg-green-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Add new event</a></li>
                                <li><a href="#">Clear events</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View calendar</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i
                                class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%">
                        <div class="datepicker datepicker-inline">
                            <div class="datepicker-days" style="display: block;">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="prev" style="visibility: visible;">«</th>
                                        <th colspan="5" class="datepicker-switch">April 2016</th>
                                        <th class="next" style="visibility: visible;">»</th>
                                    </tr>
                                    <tr>
                                        <th class="dow">Su</th>
                                        <th class="dow">Mo</th>
                                        <th class="dow">Tu</th>
                                        <th class="dow">We</th>
                                        <th class="dow">Th</th>
                                        <th class="dow">Fr</th>
                                        <th class="dow">Sa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="old day">27</td>
                                        <td class="old day">28</td>
                                        <td class="old day">29</td>
                                        <td class="old day">30</td>
                                        <td class="old day">31</td>
                                        <td class="day">1</td>
                                        <td class="day">2</td>
                                    </tr>
                                    <tr>
                                        <td class="day">3</td>
                                        <td class="day">4</td>
                                        <td class="day">5</td>
                                        <td class="day">6</td>
                                        <td class="day">7</td>
                                        <td class="day">8</td>
                                        <td class="day">9</td>
                                    </tr>
                                    <tr>
                                        <td class="day">10</td>
                                        <td class="day">11</td>
                                        <td class="day">12</td>
                                        <td class="active day">13</td>
                                        <td class="day">14</td>
                                        <td class="day">15</td>
                                        <td class="day">16</td>
                                    </tr>
                                    <tr>
                                        <td class="day">17</td>
                                        <td class="day">18</td>
                                        <td class="day">19</td>
                                        <td class="day">20</td>
                                        <td class="day">21</td>
                                        <td class="day">22</td>
                                        <td class="day">23</td>
                                    </tr>
                                    <tr>
                                        <td class="day">24</td>
                                        <td class="day">25</td>
                                        <td class="day">26</td>
                                        <td class="day">27</td>
                                        <td class="day">28</td>
                                        <td class="day">29</td>
                                        <td class="day">30</td>
                                    </tr>
                                    <tr>
                                        <td class="new day">1</td>
                                        <td class="new day">2</td>
                                        <td class="new day">3</td>
                                        <td class="new day">4</td>
                                        <td class="new day">5</td>
                                        <td class="new day">6</td>
                                        <td class="new day">7</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-months" style="display: none;">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="prev" style="visibility: visible;">«</th>
                                        <th colspan="5" class="datepicker-switch">2016</th>
                                        <th class="next" style="visibility: visible;">»</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="7"><span class="month">Jan</span><span
                                                class="month">Feb</span><span class="month">Mar</span><span
                                                class="month active">Apr</span><span class="month">May</span><span
                                                class="month">Jun</span><span class="month">Jul</span><span
                                                class="month">Aug</span><span class="month">Sep</span><span
                                                class="month">Oct</span><span class="month">Nov</span><span
                                                class="month">Dec</span></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-years" style="display: none;">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="prev" style="visibility: visible;">«</th>
                                        <th colspan="5" class="datepicker-switch">2010-2019</th>
                                        <th class="next" style="visibility: visible;">»</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span
                                                class="year">2011</span><span class="year">2012</span><span
                                                class="year">2013</span><span class="year">2014</span><span
                                                class="year">2015</span><span class="year active">2016</span><span
                                                class="year">2017</span><span class="year">2018</span><span
                                                class="year">2019</span><span class="year new">2020</span></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-black">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Progress bars -->
                            <div class="clearfix">
                                <span class="pull-left">Task #1</span>
                                <small class="pull-right">90%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #2</span>
                                <small class="pull-right">70%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="clearfix">
                                <span class="pull-left">Task #3</span>
                                <small class="pull-right">60%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #4</span>
                                <small class="pull-right">40%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable ui-sortable">


            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">Sales Graph</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i
                                class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <div class="chart" id="line-chart"
                         style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        <svg height="250" version="1.1" width="416" xmlns="http://www.w3.org/2000/svg"
                             style="overflow: hidden; position: relative; left: -0.75px; top: -0.59375px;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <text x="40.5" y="214" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <path fill="none" stroke="#efefef" d="M53,214H391" stroke-width="0.4"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="40.5" y="166.75" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000</tspan>
                            </text>
                            <path fill="none" stroke="#efefef" d="M53,166.75H391" stroke-width="0.4"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="40.5" y="119.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000</tspan>
                            </text>
                            <path fill="none" stroke="#efefef" d="M53,119.5H391" stroke-width="0.4"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="40.5" y="72.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                            </text>
                            <path fill="none" stroke="#efefef" d="M53,72.25H391" stroke-width="0.4"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="40.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none"
                                  fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000</tspan>
                            </text>
                            <path fill="none" stroke="#efefef" d="M53,25H391" stroke-width="0.4"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="328.96830700688537" y="226.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal"
                                  transform="matrix(1,0,0,1,0,5.5)">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                            </text>
                            <text x="178.6548197650871" y="226.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                  stroke="none" fill="#ffffff"
                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10px; line-height: normal; font-family: 'Open Sans';"
                                  font-size="10px" font-family="Open Sans" font-weight="normal"
                                  transform="matrix(1,0,0,1,0,5.5)">
                                <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text>
                            <path fill="none" stroke="#efefef"
                                  d="M53,188.8063C62.44592952612393,188.5417,81.33778857837181,190.4009875,90.78371810449575,187.74790000000002C100.22964763061968,185.09481250000002,119.12150668286756,168.75650767478936,128.5674362089915,167.5816C137.90641454029972,166.41999517478934,156.58437120291615,180.6428359375,165.92334953422437,178.40185C175.27088396111785,176.1588109375,193.96595281490482,151.88164954188483,203.3134872417983,149.6455C212.75941676792223,147.3858120418848,231.65127582017013,158.0678125,241.09720534629406,160.4185C250.543134872418,162.7691875,269.43499392466583,179.6215327260305,278.8809234507898,168.451C288.219901782098,157.4069452260305,306.8978584447145,78.5256424292127,316.2368367760227,71.56015C325.4816980558931,64.66485492921271,343.97142061563386,105.24755877489129,353.21628189550427,113.00785C362.6622114216282,120.93692127489129,381.5540704738761,128.9901625,391,134.3176"
                                  stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="53" cy="188.8063" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="90.78371810449575" cy="187.74790000000002" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="128.5674362089915" cy="167.5816" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="165.92334953422437" cy="178.40185" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="203.3134872417983" cy="149.6455" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="241.09720534629406" cy="160.4185" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="278.8809234507898" cy="168.451" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="316.2368367760227" cy="71.56015" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="353.21628189550427" cy="113.00785" r="4" fill="#efefef" stroke="#efefef"
                                    stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="391" cy="134.3176" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                        <div class="morris-hover morris-default-style" style="display: none;"></div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div style="display:inline;width:60px;height:60px;">
                                <canvas width="60" height="60"></canvas>
                                <input type="text" class="knob" data-readonly="true" value="20" data-width="60"
                                       data-height="60" data-fgcolor="#39CCCC" readonly="readonly"
                                       style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none; background: none;">
                            </div>

                            <div class="knob-label">Mail-Orders</div>
                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div style="display:inline;width:60px;height:60px;">
                                <canvas width="60" height="60"></canvas>
                                <input type="text" class="knob" data-readonly="true" value="50" data-width="60"
                                       data-height="60" data-fgcolor="#39CCCC" readonly="readonly"
                                       style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none; background: none;">
                            </div>

                            <div class="knob-label">Online</div>
                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <div style="display:inline;width:60px;height:60px;">
                                <canvas width="60" height="60"></canvas>
                                <input type="text" class="knob" data-readonly="true" value="30" data-width="60"
                                       data-height="60" data-fgcolor="#39CCCC" readonly="readonly"
                                       style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none; background: none;">
                            </div>

                            <div class="knob-label">In-Store</div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->


        </section>
        <!-- right col -->
    </div>


</section>
<!-- /.content -->
