<!-- jQuery 2.2.0 -->
<script src="/public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/public/bootstrap/js/bootstrap.min.js"></script>

<!-- DataTables -->
<script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/public/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js">
</script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js">
    </script>

<!-- SlimScroll -->
<script src="/public/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/public/plugins/fastclick/fastclick.js"></script>

<script src="/public/plugins/bootstrap-typeahead/bootstrap-typeahead.min.js"></script>

<!-- Select2 -->
<script src="/public/plugins/select2/select2.full.min.js"></script>

<!-- waitingfor -->
<script src="/public/plugins/bootstrap-waitingfor/waitingfor.js"></script>


<!-- iCheck 1.0.1 -->
<script src="/public/plugins/iCheck/icheck.min.js"></script>

<!-- AdminLTE App -->
<script src="/public/dist/js/app.min.js"></script>

<!-- ChartJS 1.0.1 -->
<script src="/public/plugins/chartjs/Chart.min.js"></script>

<script src="/public/dist/js/portal.js"></script>

</body>
</html>
