<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.160411
    </div>

    <a href="http://www.softsticker.com.br"><img src="/public/dist/img/softsticker.jpg" /></a>
    <span class="copyright"><strong>Copyright &copy; 2016.</strong> All rights reserved.</span>
</footer>
