<header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="/public/dist/img/logo-mini.png" /> </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="/public/dist/img/logo.png" /></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
