<? $this->Show('Page/Head') ?>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <? $this->Show('Page/Header') ?>

    <? $this->Show('Page/Left') ?>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <? $this->Show($this->getVar('Area')) ?>
    </div>
    <!-- /.content-wrapper -->

    <? $this->Show('Page/Footer') ?>
</div>
<!-- ./wrapper -->
<? $this->Show('Page/Foot') ?>
