<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/public/dist/img/user.png" class="img-circle" alt="Fernanda Pasquini">
            </div>
            <div class="pull-left info">
                <p>Fernanda Pasquini</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>


            <li><a href="/"><i class="fa fa-dashboard"></i> <span>Inicio</span></a></li>

            <?Core\Controller::Show('Area/Menu');?>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>